.nav {
    height: 50px;
    font-family: arial;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
  }
  
  * {
    font-family: sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
  }
  
  .grid-item {
    background-color: rgba(239, 247, 249, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }